@charset "UTF-8";

@font-face {
    font-family: 'letrabonita';
    src: url('fonts/ORGANICAL PERSONAL USE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cursiva-paragrafo';
    src: url('fonts/LearningCurve.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #f8f8f9, #dde2e9, #747576);
    background-size: cover;
}

.slider {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.slides {
    width: 300px;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.manual-btn {
    border: 2px solid floralwhite;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background-color: rgb(227, 232, 232);
}

h1 {
    color: #000000;
    font-family: 'letrabonita', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(212, 225, 231);
    box-shadow: 1px 3px 5px;
    border-radius: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3440e;
    color: #000000;
}

td {
    font-family: 'cursiva-paragrafo', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #0a0000;
}

td img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

ul {
    color: #000000;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.redes ul {
    display: flex;
    justify-content: center;
}

.redes ul a img {
    max-width: 80px;
}

.contact ul {
    display: flex;
    justify-content: center;
}

.contact ul a img {
    max-width: 100px;
}

nav.menu-lateral {
    position: fixed;
    top: 10%;
    right: 0;
    transform: translateY(-50%);
    width: 70px;
    background-color: #1a1a1c90;
    padding: 20px 1% 20px 0;
    box-shadow: -3px 0 0 #0a0a0a3c;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transition: width 0.3s;
}

nav.menu-lateral.expandir {
    width: 200px;
}

.btn-expandir {
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
}

.btn-expandir > i {
    color: white;
    font-size: 30px;
}

ul li.item-menu {
    transition: .2s;
    margin-bottom: 10px;
}

ul li.item-menu:hover,
ul li.ativo {
    background-color: #f3440e;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 2%;
    display: flex;
    line-height: 20px;
}

ul li.item-menu a .txt-link {
    margin-left: 10px;
    transition: .6s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    opacity: 1;
}

p {
    color: rgb(15, 15, 148);
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.videos {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.videos li {
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    margin-left: 20px;
}

.videos iframe {
    width: 100%;
    height: 100%;
}
